<ol class="breadcrumb">
    <li class="active">Home</a></li>
</ol>

<br/>

<%- partial ('partials/statusmessage.ejs') %>

<h2>Recipes</h2>
<div class="container">
    <div class="flex-row row" id="recipecard">
        <% if(typeof recipes != "undefined" && recipes.length > 0){ %>
          <% recipes.forEach(function(recipe){ %>
              <div class="col-xs-6 col-sm-4 col-lg-3">
                <div class="thumbnail">
                  <div class="caption">
                    <h3><%= recipe.title %></h2>
                    <p><button data-target-id="<%= recipe.id %>" class="btn btn-danger displayButton" href="#">DISPLAY</button></p>
                    <div class="recipedialog" style="display: none" data-recipe-id="<%= recipe.id %>">
                      <p class="flex-text text-muted"><b>Description:</b><%= recipe.description %>
                      </p>
                      <p class="flex-text text-muted"><b>Number of Minutes:</b><%= recipe.numberOfMinutes %>
                      </p>
                       <p class="flex-text text-muted"><b>Ingredients:</b>
                          <ol>
                          <!-- 
                          you dont need line 27 line because your already looping through recipies which started on line 13
                          That also means the matching brace on line 36 is a not needed either.
                          -->
                            <% if(typeof recipes != "undefined" && recipes.ingredients.length > 0){ %>
                            <!-- 
                          Here we are working with individual recipies refered to as recipe. You are using that all over the place.
                          like line 17 and 22. Here we need to do the same thing. We need to loop over the ingredients for the "recipie" we are on
                          I updated to code below to reflect what it should look like
                          -->
                                <% for(var i=0; i<recipe.ingredients.length; i++) { %>
                                      <li>
                                          <%= recipe.ingredients[i].whateverproperty %>
                                      </li>
                                <% } %>
                              <% } %>
                          </ol>
                      </p>
                      <p class="flex-text text-muted"><b>Instructions:</b><%= recipe.instructions %>
                      </p>
                    </div>
                  </div>

                </div>

              </div>
      <% }) %>
    <% } %>
    </div>
</div>
