<ol class="breadcrumb">
    <li class="active">Home</a></li>
</ol>

<br/>

<%- partial ('partials/statusmessage.ejs') %>

<h2>Recipes</h2>

<div class="container">
    <div class="flex-row row" id="recipecard">
        <% if(typeof recipes != "undefined" && recipes.length > 0){ %>
          <% recipes.forEach(function(recipe){ %>
      <div class="col-xs-6 col-sm-4 col-lg-3">
        <div class="thumbnail">
          <div class="caption">
            <h3><%= recipe.title %></h2>
            <p><button data-recipeid="<%= recipe.id %>" class="btn btn-danger displayButton" href="#">DISPLAY</button></p>
            <div data-recipeid="<%= recipe.id %>" class="hidden">
            <p id="<%= recipe.id %>" class="flex-text text-muted"><b>Description:</b><%= recipe.description %>
            </p>
            <p id="<%= recipe.id %>" class="flex-text text-muted"><b>Number of Minutes:</b><%= recipe.numberOfMinutes %>
            </p>
            <p id="<%= recipe.id %>" class="flex-text text-muted"><b>Ingredients:</b><%= recipe.ingredients %>
            </p>
            <p id="<%= recipe.id %>"class="flex-text text-muted"><b>Instructions:</b><%= recipe.instructions %>
            </p>
            </div>
          </div>
          <!-- /.caption -->
        </div>
        <!-- /.thumbnail -->
      </div>
      <% }) %>
    <% } %>
    </div>
</div>




<!-- <table class="table table-striped table-bordered" id="recipeTable" style="width:100%">
  <thead>
    <tr>
      <th>
      Diplay
      </th>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Number of Minutes</th>
      <th>Ingredients</th>
      <th>Instructions</th>
    </tr>
  </thead>
  <tbody>
  <% if(typeof recipes != "undefined" && recipes.length > 0){ %>
    <% recipes.forEach(function(recipe){ %>
      <tr>
        <td>
          <button type="button" data-recipeid="<%= recipe.id %>" class="btn btn-danger" >DISPLAY</button>
        </td>
        <td><%= recipe.id %></td>
        <td><%= recipe.title %></td>
        <td><%= recipe.description %></td>
        <td><%= recipe.numberOfMinutes %></td>
        <td><%= recipe.ingredients %></td>
        <td><%= recipe.instructions %></td>
      </tr>
    <% }) %>
  <% } %>
  </tbody>
</table> -->














<div class="container">

    <div class="panel-group" id="accordion">
        <% if(typeof recipes != "undefined" && recipes.length > 0){ %>
            <% recipes.forEach(function(recipe){ %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        <%= recipe.title %>
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <b>Description:</b> <%= recipe.description %>
                    <b>Number of Minutes:</b> <%= recipe.numberOfMinutes %>
                </div>
            </div>
        </div>
        <!-- <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        Talent Management FAQs
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <h5>What are we aiming to improve in terms of Talent Management?</h5>
                    <p>To deliver the best associate experience we need to reach and engage associates through meaningful discussions and help them understand how to grow and development in the future. To do this, we must get a few key items right:</p>
                    <ul>
                    	<li>Performance: will help associates and managers understand the new skills for the future.  We will provide clarity regarding high performance.</li>
                    	<li>Approach: we will help drive efficiency by reducing the administrative aspects of performance management to enable more time to focus on developing associates.</li>
                    	<li>Simplified Tools and Processes: we will support managers by creating create greater opportunity for real-time feedback. We’ve also built a mobile app to create a more engaging experience and support associate growth, development and engagement. </li>
                    </ul>
                    <h5>What are the expectations for providing feedback?</h5>
                    <p>At Walmart, we expect all associates to commit to help each other develop and improve. To support this effort, we will define what ‘great’ looks like, provide training to build better feedback skills and create tools to help facilitate the process. All associates need and want feedback. This should be from manager-to-associate, associate-to-manager, peer-to-peer, and cross-functionally.  While traditional methods will still be available (e.g., evaluations, 360s), we want to create an environment where more ‘real-time’ feedback is given throughout the year.</p>
                    <h5>See full list of <a href="default.ashx?CLASSNAME=RESOURCEHANDLER&amp;ID=%25cfb%25ce%257e%25dd%257df%2516%25d7%25e7%259f%25f6%2518%2540%2507y" target="_blank">Talent FAQ’s (PDF) </a></h5>
                </div>
            </div>
        </div> -->
        <!-- <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        Compensation FAQ’s
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <h5>Why are these compensation changes only focused on U.S. officers?</h5>
                    <p>Implementing compensation changes for international officers is more complex and regulated differently country to country. While our initial focus is on U.S. officers, as we move forward, the changes will look different in every market. What will be consistent is our commitment to drive the right behaviors, to appropriately balance short and long term decision-making and to deliver exceptional company performance.</p>
                    <h5>What are the specific changes for FY18 and FY19?</h5>
                    <p>New in FY18:</p>
                    <ul>
                    	<li>Reduced MIP Opportunity that will be redistributed to base salary and Performance Equity.</li>
                    	<li>Enhanced opportunity for Leaders to differentiate annual salary increase amounts within specified ranges and budget.</li>
                    	<li>Added a new special award program to recognize real time contributions.</li>
                    </ul>
                    <p>New in FY19:</p>
                    <ul>
                    	<li>Performance-based equity grant award values based on performance rating.</li>
                    	<li>Leaders will be able to differentiate Retention Stock and annual salary increase amounts within a budget.</li>
                    </ul>
                    <h5>How will the compensation changes differentiate how we reward top performers?</h5>
                    <p>Top performers will now have the opportunity to receive a higher annual salary increase, to receive additional development opportunities and may be eligible to receive special awards. In FY19 high performers will also be eligible for increased Performance Equity grant award values and potentially higher Retention Stock grants.</p>
                    <h5>See full list of <a href="default.ashx?CLASSNAME=RESOURCEHANDLER&amp;ID=%253c%25cc%2518%25f5fe%253b%25ff%251e%2516%251c%257b%25e2%2598%25a4%253b%2512%25da%253a%2585%25feU%25cd%2505%253e%25e1Nv6%251e%25bf%25f8" target="_blank">Compensation FAQ’s (PDF)</a></h5>
                </div>
            </div>
        </div> -->
        <% }) %>
       <% } %>
    </div>
</div>

<!-- <% if(typeof recipes != "undefined" && recipes.length > 0){ %>
  <% recipes.forEach(function(recipe){ %>
    <%= recipe.title %>
    <% }) %>
<% } %> -->

<!-- <div class="container">
    <div class="panel-group" id="accordion">
        <!-- <% if(typeof recipes != "undefined" && recipes.length > 0){ %>
          <% recipes.forEach(function(recipe){ %> -->




         <!-- <% }) %>
        <% } %>  -->






<!-- <table class="table table-striped table-bordered" id="studentTable" style="width:100%">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Start Date</th>
      <th>GPA</th>
      <th>SAT Score</th>
      <th>Major ID</th>
    </tr>
  </thead>
  <tbody>
  <% if(typeof students != "undefined" && students.length > 0){ %>
    <% students.forEach(function(student){ %>
      <tr>
        <td><%= student.student_id %></td>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.start_date %></td>
        <td><%= student.gpa %></td>
        <td><%= student.sat %></td>
        <td><%= student.major_id %></td>
      </tr>
    <% }) %>
  <% } %>
  </tbody>
</table> -->
